.visible {
	opacity: 1;
	transform: translateY(0);
	transition-property: opacity, transform;
	transition-duration: 3s;
	transition-timing-function: ease-out;
}

.profile-img {
	border-radius: 30% 70% 45% 55% / 48% 33% 67% 52%;
}
