@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	animation: trans 2s linear infinite;
}

body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

.arrow-tooltip {
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 0px 1px);
	border-radius: 7px;
}

.arrow-tooltip:after {
	border: 10px solid;
	border-color: white transparent transparent;
	content: '';
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 100%;
}
