@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	animation: trans 2s linear infinite;
}

body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

.box {
	box-shadow: -0.5px 5px 0px rgba(0, 0, 0, 0.1);
}
